@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.text{
    position: relative;
    font-style: normal;
    font-size: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.monitor{
    position: relative;
    margin-top: 3dvh;
    height: 90dvh;
    width: 90dvw;

    border: 0.5dvh #1b1b1b solid;
    border-bottom: 4dvh #1b1b1b solid;

    background-color: #31313198;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 50px 0px rgb(36, 36, 36);

    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    font-family: 'Rubik', sans-serif;
    font-size: 6dvh;
    font-weight: bold;
    position: relative;
    width: 120dvh;
    height: 65dvh;
    color: white;
    text-shadow: 0px 0px 12px rgba(7, 7, 31, 1);
    box-shadow: 0px 0px 12px 0px rgb(7,7,12);
    background-color: #1d1d1d98;
    border-radius: 0.7dvh;
    padding: 2dvh;
    text-align: center;
}

.image-wrapper{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content:space-evenly;
}

.image{
    position: relative;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 1.7dvh;
    min-width: 45dvh;
    min-height: 30dvh;
    margin: 1dvh;
    margin-right: 3dvh;
}

.question{
    width: 20dvh;
    height: 20dvh;
    word-wrap: normal;
    word-break: break-all;
}

.buttons-wrapper{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom:0;
    justify-content: space-between;
    width: auto;
    min-height: 25dvh;
    width: 110dvh;
    margin: 5dvh;
    margin-bottom: 0;
}

.timer-wrapper{
    position: absolute;
    width: 110dvh;
    top: -1.5dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer{
    width: 90dvh;
    height: 0.5dvh;
}

.progbar{
    position: relative;
    width: 50%;
    height: 0.5dvh;
    border-radius: 1.7dvh;
    background-color: #00ffb8;
    box-shadow: 0px 0px 12px 0px #00ffb8;
}

.buttons1{
    position: relative;
    margin-right: 5dvh;
    display: flex;
    flex-direction: column;
}
.buttons2{
    position: relative;
    margin-left: 5dvh;
    display: flex;
    flex-direction: column;
}

.button{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 0.7dvh;
    margin: 1dvh;
    padding: 1dvh;
    padding-right: 2dvh;
    text-align: left;
    color: white;
    font-size: 2.5dvh;
    width: fit-content;
    max-width: 25dvw;
    background-color: rgb(7,7,12);
    box-shadow: 0px 0px 8px 0px rgb(7,7,12);
    text-shadow: 0px 0px 12px rgba(17, 17, 22, 1);
}

.question-wrapper{
    margin-top: 10dvh;
    font-size: 3dvh;
    word-wrap: normal;
    max-width: 60dvh;
}

.button:hover{
    transition: 0.3s;
    background-color: white;
    box-shadow: 0px 0px 8px 0px white;
    color: rgb(7,7,12);
}

.exit{
    position: absolute;
    width: 5dvh;
    height: 5dvh;
    bottom: 0;
    margin: 1.5dvh;

    border: none;
    border-radius: 50%;
    
    background-color: #dc143ca2;
    box-shadow: 0px 0px 10px 0px #dc143c6b;
    text-shadow: 0px 0px 12px rgba(7, 7, 31, 1);
    font-size: 3.5dvh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.exit:hover{
    transition: 0.3s;
    animation: exit ease-in 0.3s forwards;
    background-color: #b11232a2;
    box-shadow: 0px 0px 10px 0px #b11232a2;
}

.fa-solid{
    display: block;
    position: relative;
    margin: 2dvh;
}

@keyframes exit {
    to{
        font-size: 4dvh;
    } 
}

/* *{
    border: red 1px dotted;
} */